body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
/* header strat */
.main_header{
    margin-left: 250px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.section_titile{
    display: flex;
    margin-top: 50px;
    width: 70%;
    height: 70%;
    padding: 130px;
    box-shadow: 10px 20px 40px;
    background-color:black;
    border-radius: 15px;
}
.header_section{
    padding-top:80px;
    margin-left: 50px;
    color: gray;
    font-size: 15px;
}
#text{
    font-size: 40px;
    color: white;
}
.link_button{
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 10px;
    border-radius: 5px;
}
.link_button:hover{
    color: black;
    background-image: linear-gradient(orange, tomato);
}
.header_img img{ 
    width: 100%;
    height: 100%;
    padding-left: 40px;
    padding-top: 50px;
    margin-left: 100px;
}
/* header-end. */

/* center-style strat */
.side_box {
    margin-left: 370px;
    margin-top: 40px;
    max-width: 300px;
    background-color: black;
    height: 250px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 7px;
  }
  
  .upcoming_match_button {
    display: block;
    text-decoration: none;
    width: 200px;
    background-color: #fff;
    padding: 15px;
    color: black;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
  
    text-align: center;
  }
  
  .all_group_btn {
    width: 200px;
    background-color: #fff;
    padding: 15px;
    color: black;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    margin-top: 30px;
    cursor: pointer;
  }
  
  .blog_button {
    color: #fff;
    width: 200px;
    background-color: rgba(255, 0, 0, 0.575);
    padding: 15px;
  
    border: none;
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    margin-top: 30px;
    cursor: pointer;
  }
  

.box_center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 600px;
    margin-bottom: 200px;
     }
     .center{
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       gap:20px;
     }
     .center_1{
       box-shadow: 10px 20px 40px;
       padding: 15px;
       border-radius: 5px;
     }
    
     .center_1 h3{
       border: 2px solid black;
       width: 100px;
       margin-left: 15px;
       text-align: center;
     }
.img_icon{
    margin-right: 15px;
}
/* footer-strat */

.footer_section{
    background-color: black;
    padding: 80px;
}
.fast{
    color: white;
    font-size: 25px;
    font-style: italic;
    text-align: center;
   transition: ease 1s;
}
.fast:hover{
    color: cyan;
    font-size: 40px;
    border: 2px solid lightcoral;


}
hr{
    margin: 100px;
}
.footer_1{
    display: flex;
    justify-content: center;
    
}
nav ul{
 list-style: none;
}
ul li:hover{
    background-color: coral;
    font-size: 25px;
    border-radius: 10px;
    padding: 10px;
}
nav ul li{
    display: inline-flex;
    margin-right: 30px;
    color: white;
    transition: ease 1s;
}
.footer_2{
    text-align: center;
    font-size: 25px;
}
.footer_2 a:hover{
    color: white;
    font-size: 30px;
    border: 2px solid salmon;
}
